$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$basic-text-color: #444444;
$bg-theme: #68b738;
$bg-light-theme: #eaeaea;
$light-text-color: #ffffff;
$second-text-color: #000000;
$dark-grey-color: #222222;
$border-color: #cdcdcd;
$basic-grey: #f2f2f2;
$second-dark: #111111;
$border-light: #ebebeb;
$border-light-2: #d9d9d9;
$icon-grey: #666666;
$gradient-bg: rgba(104, 183, 56, 0.85);
$gradient-bg-2: #3e3d42;
$gradient-bg-mobile-1: #525156;
$gradient-bg-mobile-2: #444348;

$tablet-width: 768px;
$desktop-width: 1440px;
$max-mobile-width: 767px;

$curtain-place: 0.5;
