.add-card__product-name {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.add-card__text {
  font-size: 14px;
  line-height: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}
