.card {
  min-width: 280px;

  @media (min-width: 768px) {
    background: linear-gradient(to bottom, $light-text-color 71px, $bg-light-theme 71px);
  }
}

.card__link {
  @include link-reset ($dark-grey-color);
}

.card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__title--more {
  color: $second-dark;
  margin-top: 53px;
}

.card__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__text--more {
  text-align: center;

  @media (min-width: 768px) {
    line-height: 18px;
  }
}

.card--more {
  background-image: url("../../icons/plus.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center top 25px;
  padding-top: 25px;
  padding-bottom: 24px;
  text-align: center;
  border-bottom: 1px solid $bg-light-theme;
  border-top: 1px solid $bg-light-theme;
}
