.field {
  font-family: $secondary-font;
  border: 1px solid $border-light-3;

  &::placeholder {
    text-transform: uppercase;
    color: $basic-text-color;
    font-size: 20px;
  }

  &:hover {
    border: 1px solid $border-color;
  }

  &:focus-visible {
    outline: none;
    border: 2px solid $basic-text-color;
  }
}
