.toggle {
  width: 24px;
  height: 24px;
  position: relative;
  background-color: transparent;
}

.toggle--close::after,
.toggle--close::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: $second-text-color;
  right: 0;
  transform: translate(-50%, 0);
}

.toggle--close::after {
  transform: rotate(45deg);
}

.toggle--close::before {
  transform: rotate(-45deg);
}

.toggle--burger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  background-color: $second-text-color;
  box-shadow: 0 -8px 0 0 $second-text-color, 0 8px 0 0 $second-text-color;
}
